/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
    color: #FFFF;
}

/* Header */
.header {
    border-bottom: 1px solid;
    border-color: rgba(255, 249, 249, 0.4);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}


.div-img {
    margin-left: 20px;
}

.div-img img {
    width: 200px;
    height: auto;
    justify-content: flex-start;
}

.div-img img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.div-nav {
    justify-content: flex-end;
    margin-right: 20px;
    align-content: center;
}

.div-nav button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 15px;
}

.div-nav button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}


/* Hero */
.div-hero {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 150px;

}

.div-img-hero img {
    width: 550px;
    height: auto;
}



.div-text-hero p {
    font-size: 30px;
    padding-bottom: 30px;
}

.div-text-hero h3 {
    font-size: 50px;
}

.div-text-hero button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.div-text-hero button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}


/* Sobre */
.div-sobre {
    display: flex;
    flex: 1;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    margin-top: 100px;

}

.div-texto-sobre h2 {
    font-size: 50px;
    text-align: center;
}

.div-texto-sobre {
    font-size: 30px;
    text-align: left;
    margin-left: 80px;

}

.div-img-sobre img {
    width: 300px;
    height: auto;
    margin-right: 120px;
    margin-left: 80px;
    margin-top: 140px;
}

/* Noticias */
.div-noticias {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.div-img-noticias img {
    width: 500px;
    margin-left: 150px;
    border-radius: 3px;
}

.div-texto-noticias {
    font-size: 30px;
    text-align: center;
    margin-right: 80px;
    margin-top: -50px;
}

.div-texto-noticias h2 {
    font-size: 50px;
}

.div-texto-noticias button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}


.div-texto-noticias button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Footer */
footer {
    border-top: 1px solid;
    border-color: rgba(255, 249, 249, 0.4);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.div-info-footer {
    margin-right: 80px;
    padding-top: 20px;
}

footer li{
    list-style: none;
    margin-left: 0;
}

footer li:hover {
    color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

footer a {
    color: #FFFF;
}

footer img {
    width: 20px;
    height: auto;
}