/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
    color: #FFFF;
}

/* Header */
.header {
    border-bottom: 1px solid;
    border-color: rgba(255, 249, 249, 0.4);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}


.div-img {
    margin-left: 20px;
}

.div-img img {
    width: 200px;
    height: auto;
    justify-content: flex-start;
}

.div-img img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.div-nav {
    justify-content: flex-end;
    margin-right: 20px;
    align-content: center;
}

.div-nav button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 15px;
}

.div-nav button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}


/* Login */

.div-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.div-formulario button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.div-formulario button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

.div-formulario h2 {
    font-size: 50px;
}

.div-ipt input {
    border: 2px solid #07F468;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    width: 400px;
    height: 30px;
}

.div-ipt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;

}

.div-ipt span{
  font-size: 15px;
  font-weight: 800;
}

.p-chamadaCadastro{
    font-size: 15px;
    text-align: center;
}

.p-chamadaCadastro a{
    color: #07F468;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
  margin-left: 8px;
}

#div_erros_login {
  display: none;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 20px;
}


.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #07F468 3px solid;
  padding: 10px;
  margin-right: 20%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

