/*Importando fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Padronizando body*/
body {
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
    color: #FFFF;
}

/* Header */
.header {
    width: 240px;
    height: 100vh;
    border: 1px solid;
    border-color: rgba(255, 249, 249, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
}

.header nav ul {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-left: 20px;
    margin-left: 30px;
    text-align: center;

}

.header a {
    font-size: 20px;
    color: #FFFF;
    width: 50px;
    height: auto;
    text-decoration: none;
    text-align: center;
}

.header a:hover {
    color: #07F468;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

.header a.ativo {
    border-left: 4px solid #07F468;
    padding-left: 10px;
    color: #07F468;
}

.header img {
    margin-bottom: 25px;
    margin-left: 10px;
}

.btnSair {
    margin-top: 180px;
}

.header h3 {
    font-size: 25px;
    color: #07F468;
    margin-bottom: 100px;
    text-align: center;
}

.div-formularioRegistrar {
    margin-left: 275px;
    display: flex;
    gap: 80px;
}

.div-formularioRegistrar h2 {
    font-size: 40px;
}

.div-formularioRegistrar p {
    font-size: 25px;
}

.div-formularioRegistrar h3 {
    color: #07F468;
    font-size: 30px;
    margin-bottom: -8px;
}

.div-campo button {
    color: #07F468;
    background-color: #1E1E1E;
    border-radius: 100%;
    border: 2px solid;
    width: 30px;
    height: 25px;
    margin-top: 30px;
}

.div-campo button:hover {
    color: #07F468;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

.div-campo button:active {
    color: #00b350;
    transform: scale(0.95);
}

.div-campo {
    display: flex;
    gap: 35px;
    margin-left: 20px;
}

.span-dados {
    font-size: 30px;
    margin-left: 15px;
    font-weight: bold;
}

#btnEnviar {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 25px;
}

#btnEnviar:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

.divConfirmarDados {
    border: 4px solid #07F468;
    border-radius: 8px;
    background-color: #FFFF;
    color: #1E1E1E;
    width: 655px;
    height: 500px;
    padding-left: 20px;
    margin-top: 300px;
    margin-right: 200px;
}

.divConfirmarDados h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.divConfirmarDados button {
    background-color: #07F468;
    color: #1E1E1E;
    border-radius: 20px;
    width: 135px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.divConfirmarDados button:hover {
    background-color: #B1EBCE;
    transform: scale(1.1);
    transition: all 0.2s ease;
    cursor: pointer;
}

.divConfirmarDados .botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.divConfirmarDados {
    font-size: 30px;
}

.registrada {
    display: block;
    text-align: center;
    margin-top: 190px;
}
